*.suo
*.user
*.userprefs
QuickTestVS/bin/
QuickTestVS/obj/
QuickTestMD/bin/
QuickTestMD/obj/
QuickTestTest/bin/
QuickTestTest/obj/
QuickTestRunner/bin/
QuickTestRunner/obj/
QuickTestSetup/Debug/
QuickTestSetup/Release/
TestResults/

